body{
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    background-image:url(https://res.cloudinary.com/urbanclap/image/upload/images/growth/home-screen/1615375782838-f890f8.jpeg);
    background-size: 120%;
    background-repeat: no-repeat;
}
.navbar{
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-family:cursive;
} 
.navbar img{
    width: 30%;
    font-family:axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
}
.navbar>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
 }
.txt{
    text-align: center;
    color: aliceblue;
    font-family: cursive;
    margin: 10% auto ;
}
.txt>p:nth-child(1){
    font-size:50px;
}
.location{
    padding: 20px 50px;
    border-radius: 5px;
}
.work{
    padding: 20px 10%;
    border-radius: 5px;
    border: 0px;
}
.txt>p:nth-child(2)
{
    padding-bottom: 10%;
}
h1{
    text-align: center;
    font-family: cursive;
    margin: 8%;
}
.top_last{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 20px;
}
.top_last>div:hover{
   cursor: pointer;
}
.top_last>div>img{
    width: 50%;
}
.top_last>div>p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.typeofWork{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.typeofWork>div{
    margin-bottom: 20%;
}
.ads{
   width: 90%;
   margin: auto;
   display: flex;
   justify-content: space-between;
}
.ads>div>img{
    width: 90%;
}
.ads>div>img:hover{
    width: 95%;
    transition: 0.5s;
    cursor: pointer;
}
.category{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.category>div>img{
    width: 80%;
    height: 40%;
    border-radius: 5px;
}
.category>div>img:hover{
   width: 90%;
    transition: 0.5s;
    height: auto;
    cursor: pointer;
}
.text>h1{
    color:rgb(61, 60, 60);
margin: auto;
}
.text>p{
    text-align: center;
    color: rgb(150, 146, 146);
    font-size: 20px;
}
.appl{
    width: 60%;
    margin: auto;
    display: flex;
    text-align: center;
}
.appl>div>img{
    width: 100%;
}
.appl>div>p{
    color: rgb(146, 136, 136);
    font-size: 15px;
}
.salon_txt>h1{
    margin-bottom: auto;
}
.salon_txt>p{
  color: grey;
  font-size: 20px;
  text-align: center;
}
.saloon{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.saloon>div>img{
    width: 90%;
}
.saloon>div>img:hover{
 width: 95%;
 transition: 0.3s;
 cursor: pointer;
}
.pest{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.pest>div{
    width: 23%;
}
.pest>div>img{
    width: 95%;
}
.pest>div>img:hover{
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}
.luxury_txt>h1{
    margin-bottom: auto;
}
.luxury_txt>p{
    text-align: center;
    color: rgb(110, 105, 105);
    font-size: 20px;
}
.luxury{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.luxury>div{
    width:23% ;
}
.luxury>div>img{
    width: 95%;
}
.luxury>div>img:hover{
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}
.homerep{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.homerep>div{
   width: 23%;
}
.homerep>div>img{
    width: 95%;
    height: 50%;
}
.homerep>div>img:hover{
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}
footer{
    background-color: black;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 200, 200);
}
footer>div{
    width: 90%;
    margin: auto;
}
.row1{
   border-bottom: 1px solid rgb(206, 200, 200); ;
}
.row1>ul{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(8,auto);
    gap: 20px;
}
.row2>ul>li{
    padding-bottom: 15px;
}
.row2>ul{
    display: grid;
    grid-template-columns:repeat(11,1fr);
}
.row3>ul{
    display: grid;
    grid-template-columns: repeat(10,auto);
    gap: 20px;
}
.row3>a{
  margin: 0px 5px;
}
.row4>ul{
  display: grid;
  grid-template-columns: repeat(11,auto);
}
.last_row{
    display: flex;
    justify-content: space-around;
}
.last_row>img:nth-child(1){
    width: 15%;
}
.last_row>img{
    width: 15%;
}




#region{
    padding: 15px;
}
#number{
    padding: 15px;
}
.element_add{
    color: aliceblue;
    font-family: cursive;
    font-size: 15px;
}
 #sign{
    border: 0px;
    background-color:transparent;
    color: aliceblue;
    font-family: cursive;
    font-size: 15px;
 }   
.signin{
    
    width: 360px;
    height: 100vh;
    background-color: aliceblue;
    position: absolute;
    z-index:1;
    right: 0;
    display: none;
    padding: 15px;
    flex-direction: column;
}
.login_input{
    padding: 20px;
}
.submit{
    color: aliceblue;
    background-color: black;
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;
}
#OTP{
    padding: 15px;
}
.login{
    color: aliceblue;
    background-color: black;
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;
}